//
// Buttons
// --------------------------------------------------

$btn-box-shadow-width:          3px !default;
$btn-box-shadow-shade-percent:  20 !default;

/// Set box shadow to a button
/// @access public
/// @param {Color} $border-bottom-color - color to shade
@mixin btn-box-shadow($btn-bg: $btn-default-bg) {
  box-shadow: 0 -1*($btn-box-shadow-width) 0 shade($btn-bg, $btn-box-shadow-shade-percent) inset;
}

.btn {
  @include btn-box-shadow;
  letter-spacing: .6px;
  text-transform: uppercase;

  &-primary,
  &-success,
  &-info,
  &-warning,
  &-danger {
    border: 0;
  }

  &-primary {
    @include btn-box-shadow($btn-primary-bg);
  }

  &-success {
    @include btn-box-shadow($btn-success-bg);
  }

  &-info {
    @include btn-box-shadow($btn-info-bg);
  }

  &-warning {
    @include btn-box-shadow($btn-warning-bg);
  }

  &-danger {
    @include btn-box-shadow($btn-danger-bg);
  }

  &-link {
    box-shadow: none;
  }
}